server notls {
  bind  127.0.0.1 8080
  tls   no
}

load ./telize.so telize_init

privsep worker {
  root /srv/telize
  runas telize
}

rand_file /srv/telize/dev/urandom

validator v_callback regex ^.*$

domain * {
  accesslog /srv/telize/telize.log

  route /ip {
    handler request_ip
  }

  route /jsonip {
    handler request_json_ip
  }

  route /geoip {
    handler request_location
  }

  route ^/geoip/[a-f0-9\:.]*$ {
    handler request_location
  }

  restrict  /ip                   get head
  restrict  /jsonip               get head
  restrict  /geoip                get head
  restrict  ^/geoip/[a-f0-9\:.]*$ get head

  params qs:get /jsonip {
    validate  callback  v_callback
  }

  params qs:get /geoip {
    validate  callback  v_callback
  }

  params qs:get ^/geoip/[a-f0-9\:.]*$ {
    validate  callback  v_callback
  }
}
