server notls {
  bind  127.0.0.1 8080
  tls   no
}

load ./telize.so telize_init

privsep worker {
  root /srv/telize
  runas telize
}

rand_file /srv/telize/dev/urandom

validator v_callback regex ^.*$

domain * {
  accesslog /srv/telize/telize.log

  route /ip {
    handler request_ip
    methods get head
  }

  route /jsonip {
    handler request_json_ip
    methods get head
    validate get callback v_callback
  }

  route /geoip {
    handler request_location
    methods get head
    validate get callback v_callback
  }

  route ^/geoip/[a-f0-9\:.]*$ {
    handler request_location
    methods get head
    validate get callback v_callback
  }
}
